.page4 {
  /* Special thanks to: https://css-pattern.com/ */
  --s: 20px; /* size of the lines */
  --g: 15px; /* gap between lines */
  --c1: black;
  --c2: rgb(0 114 206);
  background: conic-gradient(
        at var(--s) calc(100% - var(--s)),
        #0000 270deg,
        var(--c1) 0
      )
      calc(var(--s) + var(--g)) 0,
    linear-gradient(var(--c2) var(--s), #0000 0) 0 var(--g),
    conic-gradient(
      at var(--s) calc(100% - var(--s)),
      #0000 90deg,
      var(--c2) 0 180deg,
      var(--c1) 0
    ),
    white;
  background-size: calc(2 * (var(--s) + var(--g)))
    calc(2 * (var(--s) + var(--g)));
}

.page4::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.65;
  z-index: -3;
}

.hiddenIcon {
  opacity: 0;
  filter: blue(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blue(0);
  transform: translateX(0);
}

.hiddenIcon:nth-child(2) {
  transition-delay: 400ms;
}
.hiddenIcon:nth-child(3) {
  transition-delay: 600ms;
}
.hiddenIcon:nth-child(4) {
  transition-delay: 900ms;
}

@media (prefers-reduced-motion) {
  .hiddenIcon {
    transition: none;
  }
}
