.page2 {
  /* Special thanks to: https://css-pattern.com/ */
  --s: 20px; /* size of the lines */
  --g: 15px; /* gap between lines */
  --c1: black;
  --c2: grey;
  /* background: conic-gradient(
        at var(--s) calc(100% - var(--s)),
        #0000 270deg,
        var(--c1) 0
      )
      calc(var(--s) + var(--g)) 0,
    linear-gradient(var(--c2) var(--s), #0000 0) 0 var(--g),
    conic-gradient(
      at var(--s) calc(100% - var(--s)),
      #0000 90deg,
      var(--c2) 0 180deg,
      var(--c1) 0
    ),
  background-size: calc(2 * (var(--s) + var(--g)))
    calc(2 * (var(--s) + var(--g))); */

  background-image: repeating-linear-gradient(
    135deg,
    rgb(14 165 233) 2px,

    white 1px,
    transparent 1px,
    transparent 1px
  );
}

/* .page2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.25;
  z-index: -3;
} */

.page2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: repeating-linear-gradient(
    45deg,
    white 2px,
    rgb(14 165 233) 4px,
    transparent 1px,
    rgb(14 165 233) 4px
  );
  opacity: 0.5;
  z-index: -3;
}
/* black 1px, */
